@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #f6f1eb;
}

#above-nav {
  text-align: right;
  margin-top: 13px;
  margin-right: 60px;
  letter-spacing: 0.8px;
}

#above-nav a {
  padding-right: 20px;
  font-size: 11px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #f6f1eb;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
}

nav .nav-left {
  margin-left: 75px;
}

nav .nav-left a {
  text-decoration: none;
  color: #4c4949;
}

nav .nav-center {
  height: 100%;
}

nav .nav-center img {
  height: 100%;
}

nav .nav-right {
  margin-right: 75px;
}

nav .nav-right a i.fas {
  padding-left: 30px;
}

#introduction-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

#introduction-index div {
  width: 762px;
  max-width: 762px;
  text-align: center;
  letter-spacing: 2.5px;
}

#introduction-index h1, #introduction-index h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#introduction-index p {
  line-height: 1.5;
}

#introduction-index a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
}

#introduction-video div {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}

#introduction-video div iframe {
  width: 100%;
  height: 40vw;
}

#section-one {
  margin-top: 130px;
  width: 100%;
}

#section-one h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 27px;
  padding-bottom: 40px;
}

#section-one #section-one-gallery {
  margin-top: 10px;
  width: 80vw;
  margin: 0 auto;
}

#section-one #section-one-gallery .cols4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-one #section-one-gallery .cols2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-one #section-one-gallery .cols2 .cols2-item {
  margin-right: 40px;
}

#section-one #section-one-gallery .cols2 img {
  width: 18vw;
  max-width: 290px;
  max-height: 290px;
}

#section-one #section-one-gallery .cols2 p {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1026px) {
  #section-one #section-one-gallery .cols4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-one #section-one-gallery .cols2 img {
    width: 80vw;
    max-width: 398px;
    max-height: 398px;
  }
  #section-one #section-one-gallery .cols2 .item-last {
    margin-right: 0;
  }
}

#section-two {
  margin-top: 130px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#section-two div {
  width: 762px;
  text-align: center;
  letter-spacing: 2.5px;
  margin: 0 auto;
}

#section-two h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#section-two p {
  line-height: 1.5;
}

#section-two a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 50px;
}

#section-two #section-two-header {
  margin-top: 10px;
  padding: 50px 0;
  width: 80vw;
  margin: 0 auto;
  background-color: #fffcf7;
}

#section-two-video div {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}

#section-two-video div iframe {
  width: 80%;
  height: 35vw;
}

#section-three-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 90px;
}

#section-three-introduction div {
  width: 762px;
  max-width: 762px;
  text-align: center;
  letter-spacing: 2.5px;
}

#section-three-introduction h1, #section-three-introduction h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#section-three-introduction p {
  line-height: 1.5;
}

#section-three-introduction a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
}

#section-three-gallery {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section-three-gallery #three-left {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-three-gallery #three-left img {
  width: 85%;
}

#section-three-gallery #three-right {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-three-gallery #three-right img {
  width: 30%;
}

#section-three-gallery #three-right .three-right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */