@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #f6f1eb;
}

#above-nav {
  text-align: right;
  margin-top: 13px;
  margin-right: 60px;
  letter-spacing: 0.8px;
}

#above-nav a {
  padding-right: 20px;
  font-size: 11px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #f6f1eb;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
}

nav .nav-left {
  margin-left: 75px;
}

nav .nav-left a {
  text-decoration: none;
  color: #4c4949;
}

nav .nav-center {
  height: 100%;
}

nav .nav-center img {
  height: 100%;
}

nav .nav-right {
  margin-right: 75px;
}

nav .nav-right a i.fas {
  padding-left: 30px;
}

#introduction-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

#introduction-index div {
  width: 762px;
  max-width: 762px;
  text-align: center;
  letter-spacing: 2.5px;
}

#introduction-index h1, #introduction-index h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#introduction-index p {
  line-height: 1.5;
}

#introduction-index a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
}

#introduction-video div {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}

#introduction-video div iframe {
  width: 100%;
  height: 40vw;
}

#section-one {
  margin-top: 130px;
  width: 100%;
}

#section-one h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 27px;
  padding-bottom: 40px;
}

#section-one #section-one-gallery {
  margin-top: 10px;
  width: 80vw;
  margin: 0 auto;
}

#section-one #section-one-gallery .cols4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-one #section-one-gallery .cols2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-one #section-one-gallery .cols2 .cols2-item {
  margin-right: 40px;
}

#section-one #section-one-gallery .cols2 img {
  width: 18vw;
  max-width: 290px;
  max-height: 290px;
}

#section-one #section-one-gallery .cols2 p {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
}

#section-two, #section-four, #section-six, #section-eight {
  margin-top: 130px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#section-two h2, #section-four h2, #section-six h2, #section-eight h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#section-two p, #section-four p, #section-six p, #section-eight p {
  line-height: 1.5;
}

#section-two a, #section-four a, #section-six a, #section-eight a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 50px;
}

#section-two #section-two-header, #section-two #section-four-header, #section-two #section-six-header, #section-two #section-eight-header, #section-four #section-two-header, #section-four #section-four-header, #section-four #section-six-header, #section-four #section-eight-header, #section-six #section-two-header, #section-six #section-four-header, #section-six #section-six-header, #section-six #section-eight-header, #section-eight #section-two-header, #section-eight #section-four-header, #section-eight #section-six-header, #section-eight #section-eight-header {
  margin-top: 10px;
  padding: 50px 0;
  width: 80vw;
  margin: 0 auto;
  background-color: #fffcf7;
}

#section-two #section-two-header div, #section-two #section-four-header div, #section-two #section-six-header div, #section-two #section-eight-header div, #section-four #section-two-header div, #section-four #section-four-header div, #section-four #section-six-header div, #section-four #section-eight-header div, #section-six #section-two-header div, #section-six #section-four-header div, #section-six #section-six-header div, #section-six #section-eight-header div, #section-eight #section-two-header div, #section-eight #section-four-header div, #section-eight #section-six-header div, #section-eight #section-eight-header div {
  width: 80%;
  text-align: center;
  letter-spacing: 2.5px;
  margin: 0 auto;
}

#section-two-video div, #section-four-image div, #section-six-image div, #section-eight-image div {
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}

#section-two-video div iframe, #section-two-video div img, #section-four-image div iframe, #section-four-image div img, #section-six-image div iframe, #section-six-image div img, #section-eight-image div iframe, #section-eight-image div img {
  width: 80%;
  height: 35vw;
  padding-bottom: 40px;
}

#section-three-introduction, #section-five-introduction, #section-seven-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 90px;
}

#section-three-introduction div, #section-five-introduction div, #section-seven-introduction div {
  width: 762px;
  max-width: 762px;
  text-align: center;
  letter-spacing: 2.5px;
}

#section-three-introduction h1, #section-three-introduction h2, #section-five-introduction h1, #section-five-introduction h2, #section-seven-introduction h1, #section-seven-introduction h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
}

#section-three-introduction p, #section-five-introduction p, #section-seven-introduction p {
  line-height: 1.5;
}

#section-three-introduction a, #section-five-introduction a, #section-seven-introduction a {
  color: #4c4949;
  display: inline-block;
  padding-top: 10px;
}

#section-three-gallery, #section-five-gallery, #section-seven-gallery {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section-three-gallery #three-left, #section-three-gallery #five-left, #section-three-gallery #seven-left, #section-five-gallery #three-left, #section-five-gallery #five-left, #section-five-gallery #seven-left, #section-seven-gallery #three-left, #section-seven-gallery #five-left, #section-seven-gallery #seven-left {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-three-gallery #three-left img, #section-three-gallery #five-left img, #section-three-gallery #seven-left img, #section-five-gallery #three-left img, #section-five-gallery #five-left img, #section-five-gallery #seven-left img, #section-seven-gallery #three-left img, #section-seven-gallery #five-left img, #section-seven-gallery #seven-left img {
  width: 85%;
  height: 80%;
}

#section-three-gallery #three-right, #section-three-gallery #five-right, #section-three-gallery #seven-right, #section-five-gallery #three-right, #section-five-gallery #five-right, #section-five-gallery #seven-right, #section-seven-gallery #three-right, #section-seven-gallery #five-right, #section-seven-gallery #seven-right {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}

#section-three-gallery #three-right img, #section-three-gallery #five-right img, #section-three-gallery #seven-right img, #section-five-gallery #three-right img, #section-five-gallery #five-right img, #section-five-gallery #seven-right img, #section-seven-gallery #three-right img, #section-seven-gallery #five-right img, #section-seven-gallery #seven-right img {
  width: 15vw;
}

#section-three-gallery #three-right .three-right-row, #section-three-gallery #five-right .three-right-row, #section-three-gallery #seven-right .three-right-row, #section-five-gallery #three-right .three-right-row, #section-five-gallery #five-right .three-right-row, #section-five-gallery #seven-right .three-right-row, #section-seven-gallery #three-right .three-right-row, #section-seven-gallery #five-right .three-right-row, #section-seven-gallery #seven-right .three-right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section-three-gallery #three-right .three-right-row p, #section-three-gallery #five-right .three-right-row p, #section-three-gallery #seven-right .three-right-row p, #section-five-gallery #three-right .three-right-row p, #section-five-gallery #five-right .three-right-row p, #section-five-gallery #seven-right .three-right-row p, #section-seven-gallery #three-right .three-right-row p, #section-seven-gallery #five-right .three-right-row p, #section-seven-gallery #seven-right .three-right-row p {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: gray;
}

#section-three-gallery #three-right .three-right-row .item-price, #section-three-gallery #five-right .three-right-row .item-price, #section-three-gallery #seven-right .three-right-row .item-price, #section-five-gallery #three-right .three-right-row .item-price, #section-five-gallery #five-right .three-right-row .item-price, #section-five-gallery #seven-right .three-right-row .item-price, #section-seven-gallery #three-right .three-right-row .item-price, #section-seven-gallery #five-right .three-right-row .item-price, #section-seven-gallery #seven-right .three-right-row .item-price {
  padding-bottom: 15px;
  color: silver;
}

@media only screen and (max-width: 1026px) {
  #section-one #section-one-gallery .cols4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-one #section-one-gallery .cols2 img {
    width: 40vw;
    max-width: 340px;
    max-height: 340px;
  }
  #section-one #section-one-gallery .cols2 .item-last {
    margin-right: 0;
  }
  #section-three-gallery, #section-five-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-three-gallery #three-left, #section-three-gallery #five-left, #section-five-gallery #three-left, #section-five-gallery #five-left {
    width: 80vw;
  }
  #section-three-gallery #three-left img, #section-three-gallery #five-left img, #section-five-gallery #three-left img, #section-five-gallery #five-left img {
    width: 100%;
  }
  #section-three-gallery #three-right, #section-three-gallery #five-right, #section-five-gallery #three-right, #section-five-gallery #five-right {
    width: 84vw;
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #section-three-gallery #three-right img, #section-three-gallery #five-right img, #section-five-gallery #three-right img, #section-five-gallery #five-right img {
    width: 37vw;
  }
  #section-three-gallery .three-right-row, #section-three-gallery #five-right-row, #section-five-gallery .three-right-row, #section-five-gallery #five-right-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 800px) {
  #section-two #section-two-header, #section-two #section-four-header, #section-two #section-six-header, #section-two #section-eight-header, #section-four #section-two-header, #section-four #section-four-header, #section-four #section-six-header, #section-four #section-eight-header, #section-six #section-two-header, #section-six #section-four-header, #section-six #section-six-header, #section-six #section-eight-header, #section-eight #section-two-header, #section-eight #section-four-header, #section-eight #section-six-header, #section-eight #section-eight-header {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */