$primary-bgColor:#f6f1eb;
$secondary-bgColor: #fffcf7;
$header-color: #444444;
$paragraph-color: #4c4949;

html{margin:0;}
body{
    margin:0;
    background-color: $primary-bgColor;
} 
#above-nav{
    text-align: right;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 112px;
    a{
        padding-right: 20px;
        font-size: 11px;
    }
}