$primary-bgColor:#f6f1eb;
$secondary-bgColor: #fffcf7;
$header-color: #444444;
$paragraph-color: #4c4949;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html{margin:0;}
body{
    margin:0;
    background-color: $primary-bgColor;
} 
#above-nav{
    text-align: right;
    margin-top: 13px;
    margin-right: 60px;
    letter-spacing: 0.8px;
    a{
        padding-right: 20px;
        font-size: 11px;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: $primary-bgColor;
    padding-top: 20px;
    padding-bottom: 20px;

    height: 50px;

    .nav-left{
        margin-left: 75px;
        a{
            text-decoration: none;
            color: $paragraph-color;
        }
    }

    .nav-center{
        height: 100%;
        img{
            height: 100%;
        }
    }
    .nav-right{
        margin-right: 75px;
        a i.fas{
            padding-left: 30px;
        }

    }

}
@mixin standard-introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    div{
        width: 762px;
        max-width: 762px;
        text-align: center;
        letter-spacing: 2.5px;
    }
    h1,h2{
        text-transform: uppercase;
        letter-spacing: 7px;
        font-size: 24px;
        
    }
    p{
        line-height: 1.5;
    }
    a{
        color: $paragraph-color;
        display: inline-block;
        padding-top: 10px;
    }

}
@mixin standard-margin {
    width: 80vw; 
    margin: 0 auto;
    
}
#introduction-index{
    @include standard-introduction;
}
#introduction-video{
    div{
        margin: 0 auto;
        width: 70vw;
        overflow: hidden;
        iframe{
            width: 100%;
            height: 40vw;
        }
    }
}


#section-one{
    margin-top: 130px;
    width: 100%;
    h2{
        text-transform: uppercase;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 27px;
        padding-bottom: 40px;
    }
    #section-one-gallery{
        margin-top: 10px;
        @include standard-margin;

        .cols4{
            display: flex;
            flex-direction: row;
            align-items: center;

        }
        .cols2{
            display: flex;
            flex-direction: row;
        
            align-items: center;
            .cols2-item{
                margin-right: 40px;
            }
            .item-last{
                //margin-right: 0px;
            }
            img{
                width: 18vw;
                max-width: 290px;
                max-height: 290px;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                padding-bottom: 20px;;
            }
        }
    }
}

@media only screen and (max-width: 1026px){
   #section-one{
       #section-one-gallery{
           .cols4{
                flex-direction: column;
           }
           .cols2{
               img{
                   width: 80vw;
                   max-width: 398px;
                   max-height: 398px;
               }
               .item-last{
                   margin-right: 0;
               }
           }
       }
   }
}

#section-two{
    margin-top: 130px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;

    div{
        width: 762px;
        text-align: center;
        letter-spacing: 2.5px;
        margin: 0 auto;
    }
    h2{
        text-transform: uppercase;
        letter-spacing: 7px;
        font-size: 24px;
        
    }
    p{
        line-height: 1.5;
    }
    a{
        color: $paragraph-color;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    #section-two-header{
        margin-top: 10px;
        padding: 50px 0;
        @include standard-margin;
        background-color: $secondary-bgColor;

    }

}
#section-two-video{
    div{
        margin: 0 auto;
        width: 70vw;
        overflow: hidden;
        iframe{
            width: 80%;
            height: 35vw;
        }
    }
}
#section-three-introduction{
    @include standard-introduction;
    margin-top: 90px;
}
#section-three-gallery{
    @include standard-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    #three-left{
        width: 50vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img{
            width: 85%;
        }
    }
    #three-right{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            width: 30%;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}