$primary-bgColor:#f6f1eb;
$secondary-bgColor: #fffcf7;
$header-color: #444444;
$paragraph-color: #4c4949;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html{margin:0;}
body{
    margin:0;
    background-color: $primary-bgColor;
} 
#above-nav{
    text-align: right;
    margin-top: 13px;
    padding-bottom: 26px;
    margin-right: 60px;
    letter-spacing: 0.8px;
    a{
        padding-right: 20px;
        font-size: 11px;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;

    .nav-left{
        margin-left: 75px;
        a{
            text-decoration: none;
            color: $paragraph-color;
        }
    }

    .nav-center{
        height: 100%;
        img{
            height: 100%;
        }
    }
    .nav-right{
        margin-right: 75px;
        a i.fas{
            padding-left: 30px;
        }

    }

}

#introduction-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    div{
        width: 762px;
        max-width: 762px;
        text-align: center;
        letter-spacing: 2px;
    }
    h1{
        text-transform: uppercase;
        letter-spacing: 7px;
        font-size: 24px;
        
    }
    a{
        color: $paragraph-color;
    }
}